[submodule "DPP"]
	path = DPP
	url = https://github.com/brainboxdotcc/DPP
[submodule "tinyexpr"]
	path = tinyexpr
	url = https://github.com/codeplea/tinyexpr
[submodule "src/modules/private"]
	path = src/modules/private
	url = https://github.com/brokenphilip/fixedphilip_private_modules
