[submodule "DPP"]
	path = DPP
	url = https://github.com/brainboxdotcc/DPP
[submodule "src/commands/private"]
	path = src/commands/private
	url = https://github.com/brokenphilip/fixedphilip_private_commands
[submodule "tinyexpr"]
	path = tinyexpr
	url = https://github.com/codeplea/tinyexpr
